* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #25f559
}

/* Container do gerador de QR code */
.conteiner {
  background-color: #ffffff;
  height: 290px;
  width: 400px;
  border-radius: 8px;
  padding: 20px;
  transition: 0.3s;
}

/* Container ativo faz alteracoes na imagem do qr code para depois dar sentido com JS */
.conteiner.ative {
  height: 500px;
}

/* Header Cabecalho */
#qr-header {
  text-align: center;
}

#qr-header h1 {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 10px;
}

#qr-header p {
  font-size: 1rem;
  color: #5e5c5c;
}

/* Input de texto qr-form*/
#qr-form {
  margin: 20px 15px;
}

#qr-form input,
#qr-form button {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

#qr-form input {
  padding: 10px 15px;
  border: 1px solid #c0bebe;
}

#qr-form button {
  margin-top: 15px;
  background-color: #036e1e;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

#qr-form button:hover {
  opacity: 1;
  background-color: #28b34b;
}

/* Imagem do QR code */
#qr-code {
  display: flex;
  opacity: 0;
  padding: 30px 0;
  margin: 20px 15px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.conteiner.ative #qr-code {
  opacity: 1;
}

/* Responsividade  Tablets (1024px)*/
@media (max-width: 1024px) {
  .conteiner {
    max-width: 90%;
    padding: 20px;
  }

  #qr-header h1 {
    font-size: 1.6rem;
  }

  #qr-header p {
    font-size: 0.95rem;
  }
}

/* Responsividade  Celulares (600px)*/
@media (max-width: 600px) {
  .conteiner {
    max-width: 100%;
    padding: 15px;
  }

  #qr-header h1 {
    font-size: 1.4rem;
  }

  #qr-header p {
    font-size: 0.9rem;
  }

  #qr-form input,
  #qr-form button {
    height: 42px;
    font-size: 0.95rem;
  }

  #qr-form button {
    font-size: 1rem;
  }
}

/*Responsividade para Celular ate (400px)*/
@media (max-width: 480px) {
  .conteiner {
    max-width: 100%;
    padding: 40px;
  }

  #qr-header h1 {
    font-size:1.5rem;
  }

  #qr-header p {
    font-size: 0.9rem;
  }

  #qr-form input,
  #qr-form button {
    height: 30px;
  }
}

